@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243 244 246);
}

:root {
  --primary-500: rgb(244, 63, 94);
  --primary-500-20: rgba(244, 63, 94, 0.2);
}

.linkBtn {
  padding: 8px 16px;
  border-radius: 6px 6px 6px 6px;
}

.linkBtn:hover,
.linkBtn:active {
  background-color: var(--primary-500);
  text-decoration: underline;
  color: #fff;
}

.input:focus {
  color: var(--primary-500);
  background-color: transparent;
  border-color: var(--primary-500);
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--primary-500-20);
}
